.shopping__list-item {
    display: flex;
    background-color:#E9A898;
    margin-top: 2%;
    padding: 2%;
    box-shadow: 15px 11px 18px rgba(0, 0, 0, 0.447)


}

.shopping__list-item.active {
    border-radius: 30px;
    padding: 20px;
}

.shopping__list-item-text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 40%;
    padding-left: 20px;
    overflow: auto;
    word-break: break-word;

}
.shopping__list-item-text> p {
    display: inline-block;
    padding-bottom: 10px;

}


.shopping__list-item-radio {
    display: flex;
    width: 40%;
    margin: 0 auto;
    padding:4px;
}

.form-check-input {
    display: inline-flex;
    align-items: center;
    border-radius:40px;
  }
  .form-check-input[type=checkbox] {
    border-radius: 20px;
    background: #0e0000;
    cursor: pointer;
}

  .form-check-label {
    margin-left: 5px;
  }

  .shopping__list-item-name {
    color: rgb(251, 249, 249);
    padding-bottom: 10px;
  }

  @media (max-width: 667px) {
    .shopping__list-item-text {
      font-size: 14px;
  }
}