.shopping__list-item {
    display: flex;
    background-color:#B3E8C4;
    margin-top: 10px;
    box-shadow: 15px 11px 18px rgba(0, 0, 0, 0.447)


}

.shopping__list-item.active {
    width: 60%;
    border-radius: 30px;
    padding: 20px;
}

.shopping__list-item-text {
    width: 40%;
    font-size: 20px;
    margin: 0 auto;
    color: #4F8F91;
}
.shopping__list-item-text > p {
    color: rgb(28, 135, 229);
}


.shopping__list-item-radio {
    display: flex;
    width: 40%;
    margin: 0 auto;
    height: fit-content;
    padding:4px;
    justify-content: space-around;
}

.form-check {
    height: fit-content;
    padding: 2px
}