.shopping__list-item-text {
    font-size: 20px;
    color: #565d50;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: default;
}

.shopping__list-item-text::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #020401;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.shopping__list-item-text.active::before {
    transform: scaleX(1);
}

.form-check-input {

}