#root{
    display: flex;
    justify-content: center;
    min-height: 100vh;

}

.app{
    font-family: 'Acumin Pro', sans-serif;
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 40px;
    padding: 15px;
    margin: 5px;
    outline: 10px solid rgba(36, 35, 35, 0.262);
    box-shadow: 19px 20px 20px 12px

}


li {
    color: rgb(13, 13, 13);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4px;
}

input {
    border-radius: 40px;
}