.header {
  display: flex;
  flex-direction:column;
  background-color:#4f916b72;
  width: 48%;
  padding: 10px;
  margin:0 auto;


  border-radius: 20px
}

.header__text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.header__product-count {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #333;
}